<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employee Self service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="/js/script.js"></script>
  <style>

  </style>
</head>

<body>

  <div canvas="topbar">
    
    <div class="side-left">
      <span class="menu-bar"><i class="fa fa-bars"></i> <span class="text"></span></span>
     
    </div>

    <div class="side-right">
      <span class="user"> <span ><img  src="/img/user.png"></span></span>
    </div>

    <a href="/essy/"><img id="logo" src="/img/ESSYLOGO.png"></a>
		
	
  </div>
  
  <!-- <div id="banner" >
      <img src="./images/index.png" alt="essy">
    </div> -->
  <div canvas="content">
    <div class="main">
        <h2>Responsive Column Cards</h2>
<p>Resize the browser window to see the effect.</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Card 1</h3>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Card 2</h3>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 3</h3>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 4</h3>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="footer">
      <div style="float:left;">All rights reserved. © ESSY Corp Pvt Ltd.</div>
  </div>
 
    <div class="sidebar">
    <ul>
      <li><a href="#home"><i class="fa fa-fw fa-home"></i> Home</a></li>
      <li><a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a></li>
      <li><a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
      <li><a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a></li>
    </ul>
  </div>
  <div class="userProfile">
    <div  style="display: block;">
        
      <div class="userImg">
                <a  href="/employee/"><img  src="/img/user.png"></a>
            </div> 
            <div class = "userName">
                <span>Lithesh Pulikkool</span><br>
                <span>Role: Admin</span><br>
                <button type="button" id="profile">Profile</button>
            </div>
            
    </div>
    <div class="user-action" >
        <button type="button" id="profile">Profile</button>
        <button type="button" id="logout">Sign out</button>
    </div>
  
  </div>

  


</body>

</html>