<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employee Self service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  
  <style>

  </style>
</head>

<body>

  <div canvas="topbar">
    
    <div class="side-left">
      <span class="button"><i class="fa fa-bars"></i> <span class="text"></span></span>
    </div>

    <div class="side-right">
      <span class="button "><i class="fa fa-user"></i> <span class="text"></span></span>
    </div>

    <a href="/essy/"><img id="logo" src="/img/ESSYLOGO.png"></a>
		
	
  </div>
  <div id="banner" >
      <img src="index.png" alt="essy">
    </div>
  <div canvas="content">
    <div class="left">
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
        <p>Left Content:SomeText here</p>
      </div>
      
      <div class="main">
        <p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p><p>Main Content:SomeText here</p>
        <p>Main Content:SomeText here</p>

      </div>
      
      <div class="right">
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
        <p>Right Content : some text here</p>
      </div>
  </div>
  <div canvas="sidebar">
    <ul>
      <li><a href="#home"><i class="fa fa-fw fa-home"></i> Home</a></li>
      <li><a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a></li>
      <li><a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
      <li><a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a></li>
    </ul>
  </div>


</body>

</html>